<h1> About KElement </h1>
<p>
	KElement is an application developed by Pei Kuo, a 2012 Hastings Law grad and lawyer, to help organize and build contracts from the ground up.    	
</p>
<p>
	Use KElement to store and collect different types of contracts and contract clauses for later reference.
</p>
<p>
	<img src="http://s3.amazonaws.com/rapgenius/1291131680_two-thumbs-up.jpg" class="img-polaroid">
</p>
