<% if user_signed_in? %>
	<h1> You're logged in!</h1>
<% else %>
	<div class="hero-unit">
	<h1>Welcome to KElement!</h1>
	<p>
		<%= link_to "Begin KElement", '#', class: "btn btn-primary btn-large" %>

	</p>
	</p> 
		<%= link_to "Sign Up Now!", "users/sign_up", class: "btn btn-primary btn-large" %>
	</p>
	</div>
<% end %>